name = "ARMLive"
uuid = "3cf54da3-541f-4d42-bdd0-41bf6096b485"
authors = ["Nathanael Wong <natgeo.wong@outlook.com>"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
